body {
    background-color: #BFC8E6;
    margin: 0px;
}

.Group {
    background-color: white;
}

.Maincontainer {
    background-color: blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
}